/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////// -------------------------- ADMIN AREA  --------------------------------------------- ///////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* ------------------------------- LOGIN ------------------------------------ */
body#login{
    background-color: var(--BLACK);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.admin-login-container h1{
    color: var(--WHITE);
}

div.admin-login-form-container{
    background-color: var(--WHITE);
    padding: 2rem 5rem;
    border-radius: var(--radius);
}

/* ----------------------------------------- ADMIN DASHBOARD ------------------------------------------- */

div.admin_container{
    display: flex;
    height: 100vh;
}

div.admin_container div.header_container{
    background-color: var(--WHITE);
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--BLACK);
    padding: 2rem 0;
}

div.admin_container div.header_container div.admin_logo{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    padding: 0 5rem 2rem 5rem;
}
div.header_container nav.admin_navigation ul li{
    cursor: pointer;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-top: 1px solid var(--BLACK);
}

div.header_container nav.admin_navigation ul li:last-of-type{
    border-bottom: 1px solid var(--BLACK);
}


div.header_container nav.admin_navigation ul li.active{
    background-color: var(--BLACK);
    color: var(--WHITE);
}
div.header_container nav.admin_navigation ul i{
    margin-right: 1rem;
}

div.header_container p.header_rights{
    font-size: 1.3rem;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    div.header_container nav.admin_navigation ul li{
        text-align: center;
    }

    div.header_container nav.admin_navigation ul i{
        margin-right: 0;
    }
}

nav.admin_navigation div.logout_btn_container{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

/* ------------------------------DASHBOARD CONTAINER--------------------------- */

div.dashboard_container{
    flex: 0 0 70%;
    padding: 2rem;
    overflow-y: scroll;
    background-color: var(--BLACK);
    color: var(--WHITE)
}

div.dashboard_container h1{
    font-weight: bold;
}

/* ------------ ESTADISTICAS ---------- */

div.stats-items-container{
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

div.stats-items-container div.stat-item{
    flex: 0 0 calc(33.3% - 1rem);

    background-color: var(--WHITE);
    color: var(--BLACK);
    border-radius: var(--radius);
    padding: 1rem;
    margin-top: 2rem;
}

div.stats-items-container div.stat-item h2{
    font-size: 7rem;
}
div.stats-items-container div.stat-item p.stat-number{
    font-size: 5rem;
    font-weight: bold;
}

/* ------------ USERS ---------- */
div.user-horizontal-item{
    background-color: var(--WHITE);
    color: var(--BLACK);
    border-radius: var(--radius);
    padding: 1rem;
    margin-top: 2rem;
}

div.user-horizontal-item h2{
    font-size: 7rem;
}

div.user-horizontal-item h2.desactivated{
    color: var(--RED);
}
div.user-horizontal-item h2.activated{
    color: var(--GREEN);
}

div.user-horizontal-item div.profile{
    font-weight: bold;
    padding: 1rem 0;
} 
div.user-horizontal-item div.profile > div{
    margin-left: 2rem;
}

div.user-horizontal-item div.profile p.name{
    font-size: 3rem;
}

div.user-horizontal-item div.action-container button:first-of-type{
    margin-right: 2rem;
}

/* ------------ USERS ---------- */
div.project{
    flex: 0 0 calc(33.3% - 2rem);
}

div.project p.title{
    color: var(--BLACK)!important;
}

@media only screen and (max-width: 768px) {
    div.project{
        flex: 0 0 calc(50% - 1rem);
    }
}
@media only screen and (max-width: 568px) {
    div.project{
        flex: 0 0 calc(100% - 1rem);
    }
}

/* ------- DONATIONS -------------- */
body#admin .history{
    padding: 1rem;
    background-color: var(--WHITE);
    border-radius: var(--radius);
    margin-top: 2rem;
}

body#admin .donation{
    padding: 1rem 0;
    border-top: 1px solid var(--BLACK);
    color: var(--BLACK);
}
body#admin .donation:first-of-type{
    padding: 1rem 0;
    border-color: transparent;
}
body#admin .donation .donation-amount{
    font-weight: bold;
    font-size: 3rem;
}