/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
  
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
  
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
  
  /*
   * A better looking default horizontal rule
   */
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
  
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
  
  /*
   * Remove default fieldset styles.
   */
  
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
textarea {
    resize: vertical;
}
  
/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
  
/* ==========================================================================
    Author's custom styles
========================================================================== */
  
:root{
    /* colores principales */

    /* PALETA DE COLORES */
    --LIGHTGREEN: #D1FDD6;
    --GREEN: #A1E79F;
    --GREY: #E9ECEF;
    --BLACK:#151E26;
    /* OTROS COLORES */
    --RED: #DF2935;
    --WHITE: #ffffff;

    /* radius objects */
    --radius: 2rem;
}
  
html{
  /* APLICA UN NATURAL LAYOUT A TODOS LOS ELEMENTOS, PERO PERMITIENDO A LOS COMPONENTES CAMBIAR */
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
    font-family: 'inter', sans-serif;
    background: #fff;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    list-style: none;
    margin: 0;
     padding: 0;
}
img{
  max-width: 100%;
}

  /* ////////////////////////// -----------------------------GLOBALES ---------------------- //////////////////////////////*/

  /* CONTAINERS */
.container{
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width: 480px ) {
    .container{
      width: 95%;
    }
}
@media only screen and (min-width: 768px ) {
    .container{
      width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    .container{
      width: 90%;
      max-width: 120rem;
    }
}

h1, h2, h3, h4, p{
    margin: 0;
}
h1{
    font-size: 3.8rem;
}
h2 {
   font-size: 3.5rem;
}
h3{
   font-size: 3rem;
}
h4{
   font-size: 2.5rem;
}
p{
     font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

   /* Para el texto Responsivo */
 @media only screen and (max-width: 479px) {
h1{
    font-size: 3.2rem;
}
h2 {
    font-size: 3.1rem;
}   
h3{
    font-size: 2.6rem;
}
h4{
    font-size: 2.2rem;
}
p,a{
    font-size: 1.3rem;
}
}

/* ////////// ------------------- UTILITIES ------------------------ /////// */
/* esconde en pantallas pequenas */
@media only screen and (max-width: 420px) {
    .hide_small{
      display: none;
    }
}
/* esconde en pantallas medianas */
@media only screen and (max-width: 768px) {
    .hide_medium{
      display: none;
    }
}
  /* esconde en pantallas grandes */
  @media only screen and (max-width: 992px) {
    .hide_large{
      display: none;
    }
}

.disabled{
    pointer-events: none!important;
    cursor: default!important;
    color: var(--darkGrey)!important;
    background-color: var(--lightGrey)!important;
    border: 1px solid var(--darkGrey)!important;
    user-select: none!important;
}

.txt-center{
    text-align: center;
}

.page-title{
    margin: 2rem 0;
}

.page-title-center{
    margin: 2rem 0;
    text-align: center;
}

/* flex utilities */
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    justify-content: center;
    align-items: center;
}
.flex-space{
    justify-content: space-between;
}

/*                          BUTONS  SYLES ------------------------ /////// */
.btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: var(--radius);
    cursor: pointer;
    border: 2px solid;
    transition: all .2s ease;
    border-color: transparent;
}

/* LIGHTGREEN BUTTOM */
.btn-lightgreen{
    color: var(--BLACK);
    background-color: var(--LIGHTGREEN);
}
.btn-lightgreen:hover{
    color: var(--LIGHTGREEN);
    background-color: var(--BLACK);
    border-color: var(--LIGHTGREEN);
}

/* GREEN BUTTOM */
.btn-green{
    color: var(--BLACK);
    background-color: var(--GREEN);
}
.btn-green:hover{
    color: var(--GREEN);
    background-color: var(--BLACK);
    border-color: var(--GREEN);
}

/* BLACK BUTTOM */
.btn-black{
    color: var(--WHITE);
    background-color: var(--BLACK);
}
.btn-black:hover{
    color: var(--BLACK);
    background-color: var(--WHITE);
    border-color: var(--BLACK);
}

/* GREY BUTTOM */
.btn-grey{
    color: var(--BLACK);
    background-color: var(--GREY);
}
.btn-grey:hover{
    color: var(--GREY);
    background-color: var(--BLACK);
    border-color: var(--GREY);
}

/* ------------------ GENERAL FORMS STYLES ------------------------------ */
form .field{
    padding-top: 1.5rem;
}
form .field label{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left: .5rem;
}

form .field input,
form .field select,
form .field textarea{
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: var(--radius);
    background-color: var(--WHITE);
    width: 100%;
    border: 2px solid var(--BLACK);
}

form .field input[type=checkbox]{
    width: auto;
}

form .col_2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

form .col_2 > div{
    width: calc(50% - .5rem);
}

@media only screen and (max-width: 768px ) {
    form .col_2{
        flex-direction: column;
    }
    form .col_2 > div{
        width: 100%;
    }
}

form .submit{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
}

/* boton para mostrar y ocultar las passwords */
button#showPassBtn{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: var(--BLACK);
}
button#showPassBtn:hover{
    cursor: pointer;
}
/* ///////////////////------------------------CSS MODAL------------------------///////////// */
div.modal_container{
    /* Debe ir display: none; */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    /*Location of the box */
    /* padding: 5rem 0;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed */
    /*Black w/ opacity */
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}
div.modal_container .myModal{
    background-color: #fff;
    border-radius: var(--radius);
    margin: 5rem auto;
    display: block;
}
  
/* Header del modal */
div.myModal div.modal_header{
    display: flex;
    justify-content: end;
    padding: 0 1rem;
}
div.myModal div.modal_header a.close_modal{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
/*////////////////////// -------------------------- NOTIFICACION --------------------------------------------- ///////////////////////*/
.notification{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    right: 1rem;  
    padding: 1.5rem 3rem;
    opacity: 0;
    transition: .5s ease;
    z-index: 5;
    border-radius: 1rem;
    border: 1px solid var(--white);
  }
  @media only screen and (max-width: 420px ) {
    .notification{
      left: 1rem;
    }
  }
  .visible{
    opacity: 1;
  }
  /* colores de la notificaciones */
  .n_error,
  .n_error p{
    background-color: var(--RED);
    color: #fff;
    font-weight: bold;
  }
  .n_success,
  .n_success p{
    background-color: var(--GREEN);
    color: #fff;
  }

/*////////////////////// -------------------------- CARRUSEL DE IMAGENES --------------------------------------------- ///////////////////////*/
div.carrousel_container{
    position: relative;
}
div.carrousel_container div.carrousel-btns-container{
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
}

/*////////////////////// -------------------------- HEADER --------------------------------------------- ///////////////////////*/
header.web_header .fixed_bar{
    background-color: #fff;
    padding: 1.5rem 0;
    /* CODIGO PARA FIJAR LA BARRA DEL HEADER */
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 3;
    /* Sombra */
    border-bottom: 1px solid var(--GREY);
}
header.web_header .fixed_bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.web_header .logo{
    width: 4rem;
}
@media only screen and (max-width: 420px) {
    header.web_header .logo{
        width: 7rem;
    }
}
header.web_header .navigation ul{
    display: flex;
}
header.web_header .navigation ul li{
    margin: 0 .5rem;
}

/* para que nada quede debajo del header */
header.web_header .bar_space{
    height: 6rem;
}

/*////////////////////// -------------------------- FOOTER --------------------------------------------- ///////////////////////*/
footer{
    background-color: var(--BLACK);
    padding: 3rem 0 1rem 0;
    color: var(--WHITE);
}
footer div.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer div.footer_logo{
    width: 15rem;
}
/* esconde en pantallas medianas */
@media only screen and (max-width: 768px) {
    footer div.footer_logo{
        width: 10rem;
    }
}
footer nav.social_media_nav ul{
    display: flex;
    align-items: center;
}
footer nav.social_media_nav a.social_media{
    display: block;
    text-align: center;
    width: 4rem;
    height: 4rem;
    padding: 0 .5rem;
    border-radius: 4rem;
    margin: 0 .5rem;
    font-weight: bold;
    font-size: 3rem;
}

footer div.rights{
    text-align: center;
    padding-top: 2rem;
}

/*////////////////////// -------------------------- HOME --------------------------------------------- ///////////////////////*/

.hero{
    padding: 7rem 0;
    background-color: var(--LIGHTGREEN);
}

.hero .hero-content {
    max-width: 50%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .hero .hero-content {
        max-width: 80%;
    }
}


/* search section */
section.search{
    padding: 5rem 0;
}

section.search .search-content input{
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: var(--radius);
    border: 2px solid var(--GREEN);
    margin-right: 2rem;
}

section.search .search-content button{
    font-size: 2rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    section.search .search-content{
        flex-direction: column;
    }

    section.search .search-content input{
        margin-right: 0;
    }

    section.search .search-content button{
        margin-top: 2rem;
    }
}

/* PROJECT LIST */
section.project-list{
    background-color: var(--GREY);
    padding: 5rem 0;
}

section.project-list .filters{
    align-items: center;
    justify-content: end;
}

section.project-list .filters select, 
section.project-list .filters input{
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
    background-color: transparent;
    border: 2px solid var(--BLACK);
    border-radius: var(--radius);
    margin: 0 1rem;
}

div.project-list-container{
    /* padding: 2rem 0; */

    /* list display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Project */
div.project{
    border-radius: var(--radius);
    border: 2px solid var(--BLACK);
    overflow: hidden;
    background-color: var(--WHITE);
    margin-top: 2rem;
    /* list display */
    flex: 0 0 calc(25% - 1rem);
    cursor: pointer;
}

@media only screen and (max-width: 1120px) {
    body#home div.project{
        flex: 0 0 calc(25% - 1rem);
    }
}
@media only screen and (max-width: 768px) {
    body#home div.project{
        flex: 0 0 calc(33% - 1rem);
    }
}
@media only screen and (max-width: 568px) {
    body#home div.project{
        flex: 0 0 calc(50% - 1rem);
    }
}
@media only screen and (max-width: 420px) {
    body#home div.project{
        flex: 0 0 calc(100% - 1rem);
    }
}


div.project:hover{
    transition: all .3s ease;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


div.project .information{
    padding: .5rem;
}

div.project .information p.title{
   font-weight: bold;
   margin-bottom: 1rem;
}

div.project .information span.categorie{
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--BLACK);
    color: var(--WHITE);
    padding: .5rem;
    border-radius: var(--radius);
}

div.project .information p.donated{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--GREEN);
}



/*////////////////////// -------------------------- SIGNUP --------------------------------------------- ///////////////////////*/
body#signup{
    background-color: var(--LIGHTGREEN);
}

body#signup .signup-form-container{
    background-color: var(--WHITE);
    padding: 2rem;
    border-radius: var(--radius);
    width: 60%;
    margin-bottom: 4rem;
}

body#signup .forgot-pass{
    text-decoration: underline;
    color: var(--GREEN);
    text-align: center;
    cursor: pointer;
}

/*  -----------RESPONSIVE SIGNUP FORM----------------*/
@media only screen and (max-width: 1120px) {
    body#signup .signup-form-container{
      width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    body#signup .signup-form-container{
        width: 50%;
    }
}
@media only screen and (max-width: 568px) {
    body#signup .signup-form-container{
        width: 80%;
    }
}
@media only screen and (max-width: 420px) {
    body#signup .signup-form-container{
        width: 95%;
    }
}

/*////////////////////// -------------------------- LOGIN --------------------------------------------- ///////////////////////*/
body#login .login-form-container{
    background-color: var(--LIGHTGREEN);
    padding: 3rem 5rem;
    border-radius: var(--radius);
    border: 2px solid var(--GREEN);
    width: 35%;
    margin-bottom: 4rem;
}

body#login .forgot-pass{
    text-decoration: underline;
    color: var(--BLACK);
    text-align: center;
    cursor: pointer;
}

/*  -----------RESPONSIVE SIGNUP FORM----------------*/
@media only screen and (max-width: 1120px) {
    body#login .login-form-container{
      width: 45%;
    }
}
@media only screen and (max-width: 768px) {
    body#login .login-form-container{
        width: 60%;
    }
}
@media only screen and (max-width: 568px) {
    body#login .login-form-container{
        width: 85%;
    }
}
@media only screen and (max-width: 420px) {
    body#login .login-form-container{
        width: 95%;
    }
}


/*////////////////////// -------------------------- NEW PROJECT  --------------------------------------------- ///////////////////////*/
body#project .new-project-form-container{
    background-color: var(--LIGHTGREEN);
    padding: 3rem 5rem;
    border-radius: var(--radius);
    border: 2px solid var(--BLACK);
    width: 50%;
    margin-bottom: 5rem;
}
/*  -----------RESPONSIVE SIGNUP FORM----------------*/
@media only screen and (max-width: 1120px) {
    body#project .new-project-form-container{
      width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    body#project .new-project-form-container{
        width: 70%;
    }
}
@media only screen and (max-width: 568px) {
    body#project .new-project-form-container{
        width: 90%;
    }
}
@media only screen and (max-width: 420px) {
    body#project .new-project-form-container{
        width: 95%;
    }
}

/* ------------------------------ PROFILE ----------------------- */
body#profile .profile-content{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

body#profile .profile-content h3{
    font-size: 2rem;
}

body#profile .profile-content .profile-sidebar{
    flex: 0 0 calc(25% - 1rem);
}

body#profile .profile-content .profile-main{
    flex: 0 0 calc(75% - 1rem);
}

@media only screen and (max-width: 1120px) {

    body#profile .profile-content .profile-sidebar{
        flex: 0 0 calc(33% - 1rem);
    }
    
    body#profile .profile-content .profile-main{
        flex: 0 0 calc(66% - 1rem);
    }
}

@media only screen and (max-width: 768px) {
    
    body#profile .profile-content{
        flex-direction: column;
    }

    body#profile .profile-content .profile-sidebar{
        flex: 0 0 100%;
    }
    
    body#profile .profile-content .profile-main{
        flex: 0 0 100%;
        margin-top: 2rem;
    }
}


/* ---- USER ------------ */
body#profile .profile-sidebar .user{
    padding: 1rem;
    background-color: var(--LIGHTGREEN);
    border-radius: var(--radius);
}

body#profile .profile-sidebar .user p.icon{
    font-size: 5rem;
}

body#profile .profile-sidebar .user .user-info{
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}
body#profile .profile-sidebar .user .name{
    font-size: 1.8rem;
}

body#profile .profile-sidebar .user .user-action{
    padding: 1rem 0;
}

/* ---- DONATION HISTORY ------------ */
body#profile .profile-sidebar .donation-history{
    padding: 1rem;
    background-color: var(--GREEN);
    border-radius: var(--radius);
    margin-top: 2rem;
}

body#profile .profile-sidebar .donation{
    padding: 1rem 0;
    border-top: 1px solid var(--BLACK);
}
body#profile .profile-sidebar .donation:first-of-type{
    padding: 1rem 0;
    border-color: transparent;
}
body#profile .profile-sidebar .donation .donation-amount{
    font-weight: bold;
}


/* ---- WALLET ------------ */
body#profile .profile-main .wallet{
    border: 2px solid var(--LIGHTGREEN);
    border-radius: var(--radius);
    padding: 2rem;
}

body#profile .profile-main .wallet-amount{
    font-size: 5rem;
    color: var(--GREEN);
}

body#profile .profile-main .load-wallet-container input{
    background-color: var(--GREEN);
    border-radius: var(--radius);
    padding: .5rem;
    border: none;
    margin-right: 1rem;
    font-size: 1.5rem;
}

/* ---- PROJECTS ------------ */
body#profile .profile-main .my-project-container{
    padding: 2rem;
}

body#profile div.project{
    /* list display */
    flex: 0 0 calc(33% - 1rem);
}

@media only screen and (max-width: 768px) {
    body#profile div.project{
        flex: 0 0 calc(50% - 1rem);
    }
}
@media only screen and (max-width: 568px) {
    body#profile div.project{
        flex: 0 0 calc(100% - 1rem);
    }
}



/* -------------- MODAL DONATE PROJECT ------------------------- */
div.modal-donate-project{
    width: 50%;
    padding: 3rem;
}

@media only screen and (max-width: 1120px) {
    div.modal-donate-project{
      width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    div.modal-donate-project{
        width: 70%;
    }
}
@media only screen and (max-width: 568px) {
    div.modal-donate-project{
        width: 80%;
    }
}
@media only screen and (max-width: 420px) {
    div.modal-donate-project{
        width: 95%;
    }
}

div.modal-donate-project img{
    border-radius: var(--radius);
}

div.modal-donate-project .information{
    padding: .5rem;
}

div.modal-donate-project .information p.title{
   font-weight: bold;
   margin-bottom: 1rem;
}

div.modal-donate-project .information .info-banner{
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--BLACK);
    color: var(--WHITE);
    padding: .5rem 1rem;
    border-radius: var(--radius);
}

div.modal-donate-project .information p.description{
    margin: 2rem 0;
}


div.modal-donate-project .information p.donated{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--GREEN);
}

div.modal-donate-project div.user-wallet{
    background-color: var(--LIGHTGREEN);
    border-radius: var(--radius);
    padding: 1rem;
}

div.modal-donate-project div.user-wallet .balance{
    background-color: var(--LIGHTGREEN);
    border-radius: var(--radius);
    padding: 1rem;
}

div.modal-donate-project div.user-wallet input{
    border-radius: var(--radius);
    padding: .5rem 1rem;
    background-color: var(--BLACK);
    color: var(--WHITE);
    font-size: 1.5rem;
    border: none;
    margin-bottom: 2rem;
    text-align: center;
}