<IfModule mod_rewrite.c>
    Header set Access-Control-Allow-Origin 'http://localhost/fundacause'
    RewriteEngine on
    RewriteRule ^$ /fundacause/admin/public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-s
    RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
    RewriteRule (.*) /fundacause/admin/public/$1 [L]
</IfModule>
